/* Root Variables */
:root {
    /* Colors */
    --primaryColor: #36d6b5;
    --secondaryColor: #ffffff;

    /* Font */
    --fontFamily: "Courier New", Courier, monospace;

    /* Header */
    --headerTextSize: 20px;
    --headerTextColor: #ffffff;
    --headerBackgroundLayers: linear-gradient(to right, #36d6b5, #020e00); /* Removed background image */
    --headerHeight: 60px;
    --headerTextAlign: center;
    --headerJustifyContent: center; /* New variable for flex alignment */
    --cornerStyle: 20px;
    --headerPaddingLeft: calc(60px + 10px);

    /* Chat Area */
    --chatAreaBackgroundColor: transparent;
    --chatAreaBackgroundImage: linear-gradient(to right, #f8f9fa, #1d2100);
    --chatAreaBackgroundPosition: center;
    --chatAreaBackgroundRepeat: no-repeat;
    --chatAreaBackgroundSize: cover;

    /* Messages */
    --messageTextSize: 16px;
    --messageCornerStyle: 0px;
    --botMessageTextColor: #fffaf8;
    --botMessageBg: #0f0000;
    --userMessageTextColor: #ffffff;
    --userMessageBg: #36d6b5;

    /* Chat Input */
    --chatInputHeight: 80px; /* Added height */
    --chatInputBackground: linear-gradient(to right, #00c5c5, #0d1a00);
    --chatInputTextFieldBg: #f1f1f1;
    --chatInputTextFieldTextColor: #333333;
    --chatInputBorderRadius: 0px;

    /* Icon Settings */
    --iconsDisplay: inline-block;

    /* Avatar */
    --avatarDisplay: none;
    --otherMessagePaddingLeft: 0px;

    /* Footer */
    --footerDisplay: block;
    --footerTextColor: #531ccf;
    --footerBackground: #ffffff;
}

pre {
    font-size: var(--messageTextSize);
    font-weight: normal;
    font-family: var(--fontFamily);
}

/* Chat Header Styling */
.chat-header {
    display: flex;
    align-items: center;
    justify-content: var(--headerJustifyContent);
    font-size: var(--headerTextSize);
    color: var(--headerTextColor);
    background: var(--headerBackgroundLayers);
    height: var(--headerHeight);
    font-family: var(--fontFamily);
    border-top-left-radius: var(--cornerStyle);
    border-top-right-radius: var(--cornerStyle);
    padding-left: var(--headerPaddingLeft);
}

/* Chat Header Logo */
.chat-header img#headerLogoImg {
    width: var(--headerLogoWidth);
    height: auto;
    margin-right: var(--headerLogoMarginRight);
    margin-left: var(--headerLogoMarginLeft);
    max-height: calc(var(--headerHeight) - 20px);
    position: relative;
    transform: translate(var(--headerLogoOffsetX), var(--headerLogoOffsetY));
    display: none; /* Initially hidden, shown via JS when URL is provided */
}

.chat-interface-title {
    flex: 1;
    text-align: var(--headerTextAlign); /* left, center, right */
    font-family: var(--fontFamily);
    color: var(--headerTextColor);
}

/* Chat Area Styling */
.chat-area {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    line-height: 1.5;
    font-family: var(--fontFamily);
    background-color: var(--chatAreaBackgroundColor);
    background-image: var(--chatAreaBackgroundImage);
    background-position: var(--chatAreaBackgroundPosition);
    background-repeat: var(--chatAreaBackgroundRepeat);
    background-size: var(--chatAreaBackgroundSize);
    position: relative;
}

/* Bot Message Styling */
.other-message {
    position: relative;
    margin-bottom: 15px;
    padding-left: var(--otherMessagePaddingLeft);
}

.other-message .message-text {
    background-color: var(--botMessageBg);
    color: var(--botMessageTextColor);
    font-size: var(--messageTextSize);
    border-radius: var(--messageCornerStyle);
    padding: 10px 15px;
    word-wrap: break-word;
    font-family: var(--fontFamily);
    margin-bottom: 5px;
}

/* User Message Styling */
.my-message {
    display: flex;
    justify-content: flex-end;
    padding-right: 0;
    margin-bottom: 15px;
    position: relative;
}

.my-message .avatar {
    margin-right: 10px;
}

.my-message .message-text {
    background-color: var(--userMessageBg) !important;
    color: var(--userMessageTextColor);
    font-size: var(--messageTextSize);
    border-radius: var(--messageCornerStyle);
    padding: 10px 15px;
    word-wrap: break-word;
    font-family: var(--fontFamily);
    margin-bottom: 5px;
    margin-top: 5vh;
}

/* Message Text Inheritance */
.message-text * {
    color: inherit;
    font-family: inherit;
}

/* Chat Input Styling */
.chat-input {
    height: var(--chatInputHeight);
    padding: 0 20px; /* Adjusted padding */
    background: var(--chatInputBackground);
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    border-top: 1px solid #e0e0e0;
    font-family: var(--fontFamily);
    position: relative;
}

.chat-input .icons {
    display: var(--iconsDisplay);
    align-items: center;
    margin-right: 10px;
}

.chat-input .icons .icon {
    margin-right: 15px;
    cursor: pointer;
    font-size: 20px;
    color: var(--primaryColor);
    transition: color 0.3s;
}

.chat-input .icons .icon:hover {
    color: var(--botMessageTextColor);
}

.chat-input .input-group {
    flex: 1;
    border-radius: var(--chatInputBorderRadius) !important;
    background-color: var(--chatInputTextFieldBg) !important;
    overflow: hidden;
    position: relative;
    display: flex;
}

.chat-input input {
    width: 100%;
    padding: 15px;
    border: none;
    background-color: var(--chatInputTextFieldBg);
    color: var(--chatInputTextFieldTextColor);
    font-size: 14px;
    outline: none;
    box-sizing: border-box;
}

.chat-input .form-control {
    border-radius: 0 !important;
    border: none !important;
    background-color: var(--chatInputTextFieldBg) !important;
    color: var(--chatInputTextFieldTextColor) !important;
}

.input-group > .custom-select:not(:last-child),
.input-group > .form-control:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

/* Footer Styling */
.chat-footer {
    display: var(--footerDisplay);
    padding: 10px;
    background: var(--footerBackground);
    text-align: center;
    font-size: 14px;
    color: var(--footerTextColor);
    font-family: var(--fontFamily);
}



/* Success Message */
.success-message {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: var(--primaryColor);
    color: var(--secondaryColor);
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 14px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    z-index: 1000;
}

/* Button Hover Effects */
button.copy-button:hover {
    background: #2ea590;
}

button.reset-button:hover {
    background: #c0392b;
}

/* Ice Breaker Buttons */
.chat-ice-breaker {
    position: fixed;
    right: 20px;
    bottom: 80px; /* Moved up by 20px */
}

.chat-ice-breaker button {
    background-color: #FFF7FA;
    color: var(--botMessageTextColor);
    font-weight: var(--buttonFontWeight);
    font-size: var(--buttonTextSize);
    font-family: var(--fontFamily);
    padding: var(--buttonPadding);
    border-radius: 20px;
    transition: transform 0.2s ease, background-color 0.2s ease;
    border: none;
    cursor: pointer;
    margin: 5px 0;
}

.chat-ice-breaker button:hover {
    background-color: #f3e6e6;
    transform: scale(1.05);
}

/* Card Buttons */
.card-button {
    background: #E3F2FD;
    color: var(--botMessageTextColor);
    font-weight: var(--buttonFontWeight);
    font-size: var(--buttonTextSize);
    font-family: var(--fontFamily);
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.2s ease;
    margin: 5px 0;
}

.card-button:hover {
    background-color: #d0e7f8;
    transform: scale(1.05);
}

/* Additional Styles */
.chat-input .form-control {
    border-radius: 0 !important;
    border: none !important;
    background-color: var(--chatInputTextFieldBg) !important;
    color: var(--chatInputTextFieldTextColor) !important;
}

.input-group > .custom-select:not(:last-child),
.input-group > .form-control:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

/* Hide Upload Button in Preview */
.chat-input .uploadBtt {
    display: none;
}
